html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

.about-us-cards-background {
  width: 1440px;
  height: 1241px;
  background-color: #BF9161;
  display: flex;
  margin: auto;
}

.slider-container {
  width: 1440px;
  display: flex;
  background-color: #BF9161;
  margin: auto;
}

.about-us-cards {
  width: 1140px;
  height: 1141px;
  background-color: white;
  margin: auto !important;
}


.cards-string {
  width: 100%;
  height: 380px;
  display: flex;
}

.sale-card {
    width: 483px;
    height: 431px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.about-us-card {
  border: 2px solid #42210B;
  width: 569px;
  height: 380px; 
  display: flex;
  flex-direction: column;
}


.about-us-card img {
  width: 100%;
  height: 100%;
}

.card-title {
  font-size: 43px;
  margin-top: auto;
  margin-bottom: 20px;
}

.card-text {
  font-size: 24px;
  margin-bottom: auto;
}

.card-text-wrapper {
  margin: auto;
  padding: 30px;
}

.upper {
    flex-grow: 2.5;
    background-color: yellow;
    background: url(images/sales-card-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.black-cover {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.action-header {
  margin-top: auto;
  font-size: 96px;
}

.ten-ten {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  font-size: 24px;
  width: 258px;
}

.lower {
    flex-grow: 1.2;
    background-color: white;
    font-size: 36px;
    text-align: start;
    display: flex;
    /* padding: 10px; */
    /* margin-top: 40px; */
}

.buy-two {
  margin: auto;
}

.swiper-container {
  width: 996px;
  height: 431px;
}

.swiper-button-next, .swiper-button-prev {
  color: brown !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-container {
  margin-left: auto;
  margin-right: auto;
}